<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>MY Website 20240140178</h1>
    <h2>Selamat datang di aplikasi!</h2>
    <a href="/form"><button>+ Input Data Mahasiswa</button></a>

    <table>
        <tr class="header">
            <td>No</td>
            <td>Nama</td>
            <td>NIM</td>
            <td>Jenis Kelamin</td>
        </tr>
        <tr th:each="user, iterStat : ${users}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${user.nama}"></td>
            <td th:text="${user.nim}"></td>
            <td th:text="${user.jenisKelamin}"></td>
        </tr>
    </table>
    <br>
    <a href="/logout"><button>Logout</button></a>
</div>
</body>
</html>