<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Login Page</h1>
    <p>Login (username = admin, password = NIM)</p>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Masukkan username" required>
        <input type="password" name="password" placeholder="Masukkan NIM" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>